// Breakpoints
$mobile: 320px;
$tablet: 740px;
$desktop: 980px;

// Colors
$main_color: #f4f7f8;
$dark_color: #242424;
$light_color: #fff;
$primary_text_color: #2C3E50;
$secondary_text_color: #777d83;
$day: #83d0d4cf;
$night: #1e18cec5;
$hover: rgb(250, 141, 135);
$shadow-1: rgba(29, 31, 32, 0.305);
$shadow-2: rgba(196, 204, 207, 0.305);