@import './styles/utils.scss';
@import './styles/variables.scss';

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: rem(80) rem(30);
  position: relative;

  &__title {
    font-size: rem(50);
    font-weight: bold;
    margin-bottom: rem(40);
  }

  @media ($tablet <=width) {
    padding: rem(100) 0;
  
    &__title {
      font-size: rem(60);
    }
  }
}
